/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.profilesLetter {
    color: #585858;
    font-weight: bold;
}

a {
    color: teal;
}

.intro
{
  text-align: center;
  padding-top: 13%;
  padding-bottom: 13%;
  margin-bottom: 50px;
}

.intro h4
{
  text-align: center;
  margin-bottom: 15px;
}

footer
{
  padding-top: 0px;
  text-align: center;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

/* Begin CodeShare Styling */
.code-tag {
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #EEEEEE;
  background-color:#22A3EF;
}

.upvote-btn {
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #EEEEEE;
  background-color:#22A3EF;
}

.upvote-count {
  margin:10px;
  font-size: 30px;
}

div.validation-err {
  border-radius: 3px;
  padding: 5px;
  background-color: #EA0C0C;
  color:white;
}
/* End CodeShare Styling */

