

<form action="">

    <div class="input-field">
      <input id="jp-post-title" type="text" ng-model="data.jobTitle">
      <label for="jp-post-title">Title</label>
    </div>

    <div class="input-field">
      <input id="jp-post-company" type="text" ng-model="data.company">
      <label for="jp-post-company">Company</label>
    </div>

    <div class="input-field">
      <input id="jp-post-description" type="text" ng-model="data.description">
      <label for="jp-post-description">Description</label>
    </div>

    <div class="input-field">
      <input id="jp-post-experience" type="text" ng-model="data.experience">
      <label for="jp-post-experience">Experience</label>
    </div>

    <div class="input-field">
      <input id="jp-post-company-linkedin" type="text" ng-model="data.companyLinkedIn">
      <label for="jp-post-company-linkedin">Company LinkedIn</label>
    </div>

    <br>

    <button class="btn waves-effect waves-light" ng-click="jobPostingSubmit()">Submit
        <i class="material-icons right">send</i>
    </button>

</form>
